/* -------------------------------- */
/* box-sizing */
/* body font */
/* body link */
/* body img */
/* horizontal line */
/* -------------------------------- */

/* box-sizing */
*, *:before, *:after { box-sizing: inherit; }
html { box-sizing: border-box; }

/* body font */
body {
	font-family:  'Lucida Sans', 'Open Sans', 'Roboto';
	font-size: 16px;
	line-height: 1.5;
    color: black;
}

/* body link */
a, a:visited, a:hover, a:active, a:focus { text-decoration: none; } 
a { color: black; }
a:hover { color: #369fb2; cursor: pointer; }
a:hover { color: #e88521; cursor: pointer; }
a:visited { color: white; }

/* body img */
.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

/* horizontal line */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    /*width: 70%;*/
}