/*浮動方向*/
.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

/*黑底白字*/
.dark-bg {
	background-color: #000;
	color: #fff;
}

.dark-bg a{
	color: #fff;
}

.dark-bg a:hover{
	color: rgba(255,255,255,.6);
}

/*字體對齊*/
.text-center {
	text-align: center;
}

/*字體白色*/
.text-white {
	color: #fff;
}




