/* Container */
.container-fluid,
.container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.container-fluid:after,
.container:after {
	content: '';
	display: block;
	clear: both;
}

/* Mobile */
@media (max-width: 768px ) { .container { max-width: 768px; width: 100%; } }
/* Tablet */
@media (min-width: 768px) { .container { width: 720px; } }
/* Desktop */
@media (min-width: 992px) { .container { width: 920px; } }
/* Large Desktop */
@media (min-width: 1200px) { .container { width: 1100px; } }

/* Content + Sidebar */
@media (min-width: 768px) { 
	.content { width: 68%; float: left; }
	.sidebar { width: 32%; float: left; }
	.sidebar ~ .sidebar { float: right; }
	.sidebar + .content { width: 36%; }
	.content:last-child { width: 68%; }
	.content:only-child { width: 100%; }
}