.media {
	margin-bottom: 15px;
}

.media:after {
	content: '';
	clear: both;
	display: block;
}

.media-is {
	float: left;
	margin-right: 10px;
}

.media-content {
	overflow: hidden;
}

.media-title {
	display: block;
	font-weight: 500;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 15px;
}