.nav {
	/*預設重整*/
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-link {
	/*基本內距*/
	padding: 5px;
    margin: 0px;
	display: inline-block;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
/*===============================*/
.nav-number {
	counter-reset: number-item;
}

.nav-number li {
	position: relative;
	padding-left: 1.5em;
}

.nav-number li:before {
	content: counter(number-item);
	counter-increment: number-item;
	position: absolute;
	left: 0;
	font-size: 20px;
	font-weight: 800;
	opacity: .2;
}


