.table {
	width: 100%;
	border: 1px solid #DCDCDC;
	border-spacing: 0;
	border-collapse: separate;
}

.table thead {
	font-weight: 500;
}

.table th,
.table td {
	padding: 8px 10px;
	border-bottom: 1px solid #DCDCDC;
	text-align: left;
}

.table th {
	border-bottom: 2px solid #DCDCDC;
}

.table tr:nth-child(even) td {
	background-color: #f9fafb;
}

.table tr:last-child td {
	border-bottom: none;
}


