/* custom bgcolor */
/* header (logo) */
/* header (menu) */
/* main (sidebar)*/
/* main (card) */
/* footer */ 

/* ------------ custom bgcolor ------------ */
.site-header-bg { background-color: #565656 ; }
.site-main-bg, 
.site-sidebar-menu-bg .panel { background-color: #f5e1e0; }
.site-footer-bg { background-color: #c9b4b2; }
.site-footer-bg { background-color: #d5c5c4; }

/* ------------ header (logo) ------------ */
.site-header {
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	z-index: 99;
	padding-top: 20px;
	padding-bottom: 20px;
}
.site-logo {

	display: inline-block;
}
.site-logo-text {
	font-family: 'Alegreya Sans';
	font-size: 24px; 
	font-weight: bolder;
}
.site-logo-img {
	width: 50px;
	height: 50px;
	background-image: url(../img/logo.png);
	background-size: cover;
	background-position: center center;
}
@media (max-width: 992px) {	.site-logo-text { display: none; } }
@media (min-width: 992px) {	.site-logo-img { display: none; } }

/* ------------ header (menu) ------------ */
/* main menu */
.site-menu {
	font-family: 'Alegreya Sans';
	/*垂直置中*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/*水平置右*/
	right: 2%;
}
.site-menu .dropdown:hover .dropdown-menu { 

	display: block; 
}
.site-menu-btn { 
	background-color: transparent; 
	border: none; 
}
.site-menu-btn:hover { 

	color: gold; 
}
/* mobile menu */
.site-menu-toggle-button {
	font-family: 'Alegreya Sans';
	/*垂直置中*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/*水平置右*/
	right: 2%;
}
.site-menu-toggle-content {

	margin: 20px auto 0px;
}

@media (min-width: 992px) {	
	.site-menu-toggle { display: none; } 
}
@media (max-width: 992px) {	
	.site-menu { display: none; } 
	.site-menu-toggle-content { display: none; }
}

/* ------------ main (sidebar)------------ */
.site-main {
	position: relative;
	z-index: 1;
	padding: 50px 0px 50px 0px;
	/* sticky footer */
	min-height: calc(100vh - 60px - 85px);
}
@media (max-width: 992px) { .site-sidebar-menu { display: none; } }

/* ------------ main (card) ------------ */
.site-card img {
	width: 100%;
	height: 450px;
}
.site-card .card-content {

	background-color: white;
}
.site-card #card-type {
	color: darkslategray;
	border: 1px darkgray solid;
	border-radius: 2px;    
    padding: 2px 5px;
    margin: 0px 2px;
}
.site-card .button {

	font-size: 90%; 
}
.site-card .button:hover {

	background-color: #9b0422;
}

/* Phone */
@media (max-width: 768px ) { .img-fluid { object-fit: cover; } }
/* Tablet */
@media (min-width: 768px) { .img-fluid { object-fit: cover; } }
/* Desktop */
@media (min-width: 992px) { .img-fluid { object-fit: cover; } }
/* Large Desktop */
@media (min-width: 1200px) { .img-fluid { object-fit: cover; margin-left:0; } #card-img { width:50%; } }

/* ------------ footer ------------ */
.site-footer {
	position: relative;
	z-index: 1;
	padding: 15px 0px 15px 0px;
	height: 60px;
}
.site-footer span {	
	padding: 5px;
	font-size: 14px;
	display: inline-block;
}
/* Phone */
@media (max-width: 768px ) { .site-footer span { margin: auto; display: table; } }
/* Tablet */
@media (min-width: 768px) { .site-footer span { margin: auto; display: table; } }
/*Desktop+ */
@media (min-width: 992px) { .site-footer span { float: right; } }